*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Playfair Display";
    src: url('textfonts/PlayfairDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Karla";
    src: url('textfonts/Karla-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "HK Grotesk";
    src: url('textfonts/HKGrotesk-SemiBold.otf') format('opentype');
}

:root {
    --white: #fff;
    --black: #000;
    --color-1: #212529;
    --color-2: #444;
}

html {
    font-size: 10px;
    font-family: "Karla", sans-serif;
}

body {
    font-size: 1.6rem;
    color: var(--color-2);
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 10rem 0;
}

/* REUSABLE CLASSES */

.container,
.container-small {
    max-width: 130rem;
    padding: 0 2.4rem;
    margin: 0 auto;
}

.container-small {
    max-width: 110rem;
    padding: 0 2rem;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: 25%;
    min-width: 20rem;
    padding: 1rem;
    margin-bottom: 5rem
}

/* HEADINGS */

h1 {
    font-family: "Playfair Display", sans-serif;
    font-size: 8rem;
    letter-spacing: .2rem;
    margin-bottom: 3rem;
}

h2, h3, h4, h5 {
    font-family: "HK Grotesk", sans-serif;
}

h5 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .7rem;
}

.subheading {
    margin-bottom: 1.9rem;
    font-size: 2.6rem;
    font-weight: 400;
    padding-bottom: .5rem;
    position: relative;
}

.subheading::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: .2rem;
    width: 5rem;
    background-color: var(--black);
}

.heading {
    text-transform: uppercase;
    font-size: 3.2rem;
    margin-bottom: 1.4rem;
}

/* BUTTONS */

.btn-box {
    text-align: center;
    margin: 4rem 0;
}

.btn {
    padding: 1.6rem 3rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .15rem;
}

.btn-white {
    background-color: var(--white);
    color: var(--color-1);
    transition: all .5s;
}

.btn-white:hover {
    background-color: #1E292D;
    color: var(--white);
}

.btn-dark {
    background-color: var(--black);
    border: .2rem solid transparent;
    color: var(--white);
    transition: all .5s;
}

.btn-dark:hover {
    background: transparent;
    border-color: var(--black);
    color: var(--black);
}

/* HEADER */

header {
    width: 100%;
    height: 7rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 2.9rem;
}

.nav-link {
    color: var(--white);
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "HK Grotesk", sans-serif;
    letter-spacing: .15rem;
    padding-bottom: .3rem;
    position: relative;
    overflow: hidden;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: .1rem;
    background-color: var(--white);
    transform: translateX(-100%);
    transform-origin: left;
    transition: all .5s;
}

.nav-link:hover::after {
    transform: translateX(0);
    width: 100%;
}

.logo {
    color: var(--white);
    font-size: 2.3rem;
    margin-right: 10rem;
}

.nav_icons {
    display: flex;
}

.nav-icon:not(:last-child) {
    margin-right: 2rem;
}

.menu-toggle {
    display: none;
}

/* HERO */

.hero {
    color: var(--white);
    background-image: url('images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero-box {
    max-width: 70rem;
    width: 100%;
    text-align: center;
}

.hero p {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 4.2rem;
}

/* NEW ARRIVALS */

.arrival-1,
.arrival-2 {
    margin-right: 4rem;
}

.arrival-1 img {
    height: 45rem;
    width: 35rem;
}

.arrival-2 img {
    width: 30.5rem;
    height: 40rem;
}

.arrival-3 p {
    margin-bottom: 4.2rem;
}

/* GALLERY */

.gallery {
    background-image: linear-gradient(rgb(249, 249, 249), rgb(249, 249, 249));
}