/* 
SIDE NAV - This is the fixed vertical navigation menu on desktop view. It disappears when the viewport is at 1000px.
NAV MOBILE - This is the mobile navgation menu on mobile devices. It appears once the SIDE NAV disappears.
DEFAULT NAV - This is the navigation bar/menu for other pages except the homepage.
These three different  navigation menu have their styles so as to make every codes easy code to read and to avoid the styles from getting applied unecessarily.
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat Regular";
    src: url('textfonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Montserrat Bold";
    src: url('textfonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "SourceSeriffPro Regular";
    src: url('textfonts/SourceSerifPro-Regular.ttf') format('truetype');
}

:root {
    --color-1: #2e2e2d;
    --color-2: #f8f5f0;
}

html {
    font-family: "SourceSeriffPro Regular", serif;
    font-size: 10px;
}

body {
    background-color: var(--color-2);
    font-size: 1.6rem;
    color: var(--color-1);
    position: relative;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}


a {
    text-decoration: none;
    font-size: 1.12rem;
    color: var(--color-1);
}

/* REUSABLE CLASSES */

.container {
    max-width: 130rem;
    padding: 0 2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.btn {
    font-family: "SourceSeriffPro Regular", serif;
    display: inline-block;
    padding: 1.7rem 1.5rem;
    font-size: 1.5rem;
    letter-spacing: .2px;
}

.btn-dark {
    color: var(--color-1);
    transition: all .4s;
}

.btn-dark:hover {
    color: #F4F4F4;
    background-color: var(--color-1);
}

/* HOMEPAGE STYLES */

.nav-pc {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    max-width: 30rem;
    height: 100vh;
    padding: 6rem;
}

.products_container {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 120rem;
    min-height: 100vh;
}

/* SIDE NAV (ON DESKTOP) */

.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.logo {
    font-family: "Montserrat Bold", sans-serif;
    font-size: 1.7rem;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: .15rem;
}

.side-nav .logo {
    margin-bottom: 6rem;
}

.side-nav a {
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-weight: 500;
}

.nav-list {
    margin-bottom: 5rem;
}

.nav-item {
    margin-bottom: .65rem;
}

.nav-link {
    font-family: "Montserrat Regular", sans-serif;
    font-weight: 500;
    position: relative;
    padding-bottom: 2px;
}

.active {
    border-bottom: 1px solid var(--color-1);
}

.active.nav-link:first-child:hover::after {
    display: none;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform: translateX(-100%);
    transform-origin: left;
    background-color: var(--color-1);
    transition: all .7s;
}

.nav-link:hover::after {
    transform: translateX(0);
}

.other-links {
    margin-bottom: 10rem;
}

.social {
    flex-direction: row;
}

.social i {
    font-size: 1.8rem;
    margin-right: 2rem;
}

/* PRODUCT CONTAINER */

.products_container-inner {
    margin: 2rem;
}

.product-box {
    position: relative;
    display: block;
    overflow: hidden;
    transition: all .3s;
}

.product-box::after {
    content: '';
    position: absolute;
    bottom: -5rem;
    left: 0;
    height: 5rem;
    width: 100%;
    background-color: var(--color-1);
    transition: all .3s;
}

.product-box:hover::after {
    bottom: 0;
}

.product-box:hover .product-price p {
    opacity: 1;
}

.product-price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: transparent;
    z-index: 10;
}

.product-price p {
    border-bottom: .1rem solid transparent;
    color: var(--color-2);
    font-size: 1.3rem;
    letter-spacing: 1px;
    opacity: 0;
    padding: .1rem 0;
    text-transform: uppercase;
    transition: border-bottom .3s;
}

.product-price p:last-child:hover {
    border-bottom: .1rem solid var(--color-2);
}

/* MOBILE NAVIGATION */

.nav-mobile {
    display: none;
    padding: 0 2rem;
}

.nav-mobile .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    background-color: var(--color-2);
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    transition: .6s;
}

.nav-mobile .logo {
    margin-bottom: 0;
    font-size: 1.8rem;
}

.nav-mobile .nav-list {
    margin-bottom: 0;
}

.nav-mobile .nav-list {
    background-color: var(--color-2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform .5s;
    z-index: 100;
}

.nav-mobile .nav-item {
    margin-bottom: 5rem;
}

.nav-mobile .nav-link {
    text-transform: uppercase;
    font-size: 1.17rem;
    letter-spacing: .5px;
    font-family: "Montserrat Regular", sans-serif;
}

.nav-mobile .nav-link::after {
    display: none;
}

.nav-mobile .nav-list.show {
    transform: translateY(0);
}

.menu-toggle {
    cursor: pointer;
    z-index: 100;
}

.menu-toggle .fa-times {
    display: none;
}

.menu-toggle.show {
    position: fixed;
    top: 2rem;
    right: 2rem;
}

.menu-toggle.show .fa-times {
    display: block;
}

.menu-toggle.show .fa-bars {
    display: none;
}

/* COPYRIGHT */

.copyright {
    padding: 2rem;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.5;
}

.copyright a {
    font-size: 1.6rem;
    padding: .2rem 0;
    border-bottom: 1px solid var(--color-1);
}

/* DEFAULT NAV STYLES */

.menu-toggle-df {
    display: none;
}

.navbar-df {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    height: 7rem;
}

.nav-list-df {
    display: flex;
}

.nav-item-df {
    margin-right: 5rem;
}

.nav-link-df {
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-weight: 500;
}

.nav-link-df {
    font-family: "Montserrat Regular", sans-serif;
    position: relative;
    padding-bottom: 2px;
    display: block;
    overflow: hidden;
}

.nav-link-df::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform: translateX(-100%);
    transform-origin: left;
    background-color: var(--color-1);
    transition: all .7s;
}

.nav-link-df:hover::after {
    transform: translateX(0);
}

/*                              ACCOUNT PAGE                               */

section.account {
    background-image: url("images/account-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 89vh;
    padding: 5rem;
}

.form-container {
    font-size: 2rem;
    background-color: #fff;
    width: 30rem;
    max-width: 100%;
    height: 42rem;
    text-align: center;
    position: relative;
    padding: 2rem 0;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-btn {
    display: inline-block;
}

.form-container span {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .5px;
    padding: 0 1rem;
    color: var(--color-1);
    cursor: pointer;
    width: 10rem;
}

.form-container form {
    max-width: 30rem;
    padding: 0 2rem;
    position: absolute;
    top: 11rem;
    transition: transform 1s;
}

form input {
    font-size: 1.4rem;
    width: 100%;
    height: 3.5rem;
    margin: 1.5rem 0;
    padding: 2rem 1rem;
    border: 1px solid #ddd;
    outline: none;
    font-family: "SourceSeriffPro Regular", serif;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 1rem 0;
    outline: none;
}

#LoginForm {
    left: -30rem;
}

#RegForm {
    left: 0;
}

form a {
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 1.2rem;
}

#Indicator {
    width: 10rem;
    border: none;
    background-color: #4c4c43;
    height: .3rem;
    margin-top: .8rem;
    transform: translateX(10rem);
    transition: transform 1s;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1210px) {
    .side-nav .social i {
        font-size: 1.8rem;
        margin-right: .5rem;
    }
}

@media screen and (max-width: 1000px) {
    .nav-pc {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    .products_container {
        position: static;
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}